<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="Quest Sales Log In Page"/>
        <meta name="author" content="Quest Sales"/>
        <title>Quest Sales Log In Page</title>
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/LogInPage.css">
        <link rel="stylesheet" href="/styles/header.css">
    </head>
    <header>
        <div class="title"><a href="/">Quest Sales</a></div>
    </header>
    <body background="../imgs/LoginBackground.jpg">
        <main>        
            <div class="logIncontainer">
                <form action="/login" method="POST">
                    <h1>Sign In</h1>
                    <% if (message.length > 0) { %>
                    <b><%= message %></b>
                    <% } %>
                    <hr></hr>
                    <label for="username"><h2>Username:</h2></label>
                    <input type="text" id="username" name="username" placeholder="Enter Username" required autocomplete="off"/>
                    <label for="password"><h3> Password:</h3></label>
                    <input type="password" id="password" name="password" placeholder="Enter Password" required/>
                    <button type="submit" class="sign-btn">Sign In</button>      
                </form>
                <h4> Don't Have a Account? <a class="register-link" href="/register">Register</a></h4>
                <h3 style="margin-left:0.3%;"> Forgot Password?</h3>
            </div>
        </main>
    </body>
</html> 



