.nav-container {
    margin: 0 auto;
    max-width: 960px;
  }
  
  nav {
    display: flex;
    justify-content: left;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul a {
    padding: 1rem 2rem;
  }
  
  nav ul li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  article{
    width:600px;    /*   decreased to 600px  */
       margin:0 auto;          /* added  */
   }

   form{
    width:400px;    /*   decreased to 600px  */
       margin:0 auto;          /* added  */
   }