<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="Quest Sales Shopping Cart Page"/>
    <meta name="author" content="Quest Sales"/>
    <title>Quest Sales Shopping Cart Page</title>

    <link rel="stylesheet" href="/styles/shoppingcart.css">
    <link rel="stylesheet" href="/styles/Search_Bar.css">
    <link rel="stylesheet" href="/styles/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <header>
    <div class="upper">
    <div class="loginlink"><a href="/logout">Logout</a></div>
    <div class="search">
      <form class="search-form" action="." method="post" autocomplete="off">
        <input class="search-term" type="text" placeholder="" />
        <ul class="list"></ul>
      </form>
      <button class="search-btn" type="submit">Search</button>
    </div>
    <div class="title"><a href="/">Quest Sales</a></div>
        <div class="discover"><a href="/product">Discover</a></div>
        <div class="cart"><a href="/user/cart">Cart</a></div>
    </div>
  </header>
  <body background="../imgs/LoginBackground.jpg">
    <h1 class = "lg-title">Shopping Cart</h1>
    <div class="shopping-background">
      <div class="shopping-cart">
        <div class="column-labels">
          <label class="product-image">Image</label>
          <label class="product-details">Product</label>
          <label class="product-price">Price</label>
          <label class="product-quantity">Quantity</label>
          <label class="product-removal">Remove</label>
          <label class="product-line-price">Total</label>
        </div>
        <div class="product">
          <div class="product-image">
          <img src="/imgs/jacket.jpg">
          </div>
          <div class="product-details">
            <div class="product-title">Green Jacket</div>
            <p class="product-description"></p>
          </div>
          <div class="product-price">
            <span class="item_price">14.99</span>
          </div>
          <div class="product-quantity">
            <input type="number" class="num" oninput="calc(0)" min="1" max="1000" value="1"/>
          </div>
          <div class="product-removal">
            <button class="remove-product-btn">
              Remove
            </button>
          </div>
          <div class="product-line-price">
            <span class="product-total">14.99</span>
          </div>
        </div>
        <div class="product">
          <div class="product-image">
            <img src="/imgs/shoes.jpg">
          </div>
          <div class="product-details">
            <div class="product-title">Purple Shoes</div>
            <p class="product-description"></p>
          </div>
          <div class="product-price">
            <span class="item_price">39.99</span>
          </div>
          <div class="product-quantity">
            <input type="number" class="num" oninput="calc(1)" min="1" max="1000" value="1"/>
          </div>
          <div class="product-removal">
            <button class="remove-product-btn">
              Remove
            </button>
          </div>
          <div class="product-line-price">
            <span class="product-total">39.99</span>
          </div>
        </div>
        <div class="totals">
          <div class="totals-item">
            <label>Subtotal</label>
            <div class="totals-value" id="cart-subtotal">
                <b><span class="total">0</span></b>
            </div>
          </div>
          <div class="totals-item">
            <label>Tax (5%)</label>
            <div class="totals-value" id="cart-tax">3.60</div>
          </div>
          <div class="totals-item">
            <label>Shipping</label>
            <div class="totals-value" id="cart-shipping">15.00</div>
          </div>
          <div class="totals-item totals-item-total">
            <label>Grand Total</label>
            <div class="totals-value" id="cart-total">90.57</div>
          </div>
        </div>

                <h2 style="margin-left: 5%;"> Select Payment Method:
                    <select name="cars" id="cars" style="font-size: 15px;">
                        <option>PayPal</option>
                        <option>ApplePay</option>
                        <option>Enter Card #</option>
                        <option>Gift Card</option>
                      </select>
                </h2>

                <h2 style="margin-left: 50%;margin-top: -45px;"> Select Donation Method:
                    <select name="cars" id="cars" style="font-size: 15px;">
                        <option>Salvation Army</option>
                        <option>St. Jude</option>
                        <option>Red Cross</option>
                        <option>Mayo Clinic</option>
                      </select>
                </h2>
        <button class="checkout">Checkout</button>
      </div>
    </div>
    <script type="text/javascript" src="/scripts/shopping-cart.js"></script>
    <script src="/scripts/Search_Bar.js"></script>
  </body>
</html>

